<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		th:replace="~{layoutTwo/layoutForm :: layout( ~{::title}, ~{::section})}">

<!-- head 영역 -->
<!-- <head th:replace="~{layout/head :: common_head(~{::title}, ~{::link})}"> -->
<head>
<title>인덱스페이지</title>
</head>

<body>
	<!-- header 영역 -->
	<!-- <div th:replace="~{layout/header :: header}">header 영역</div> -->
	
	<section class="container-md">
		<h1>INDEX.html</h1>
		<div class="mb-3">
			<label for="exampleFormControlInput1" class="form-label">Email address</label> 
			<input type="email" class="form-control" id="exampleFormControlInput1"
				placeholder="name@example.com">
		</div>
		<div class="mb-3">
			<label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
			<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
		</div>
		<div><a href="table-view" th:href="@{/layout-two/table-view}">Table View 이동</a></div>
	</section>

	<!-- footer 영역 -->
	<!-- <div th:replace="footer">footer 영역</div> -->
	<!-- <div th:replace="layoutTwo/footer :: copy">footer 영역</div> -->
</body>
</html>