<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		th:replace="~{fragments/layout-form::layout(~{::title}, ~{::section})}">

<title>상품 상세</title>

<!-- START : CONTAINER -->
<section>
	<div class="text-center my-5">
		<h1>상품 상세</h1>
	</div>

	<div class="row">
		<div class="col-2">
			<label for="id" class="form-label fw-bold">상품 ID</label>
		</div>
		<div class="col">
			<input type="text" id="id" name="id" class="form-control" value="1"
				th:value="${item.id}" disabled readonly>
		</div>
	</div>

	<div class="row my-2">
		<div class="col-2">
			<label for="itemName" class="form-label fw-bold">상품명</label>
		</div>
		<div class="col">
			<input type="text" id="itemName" name="itemName"
				class="form-control" value="새우깡" 
				th:value="${item.itemName}" disabled readonly>
		</div>
	</div>

	<div class="row my-2">
		<div class="col-2">
			<label for="price" class="form-label fw-bold">가격</label>
		</div>
		<div class="col">
			<input type="text" id="price" name="price" class="form-control"
				value="1500" th:value="${item.price}" disabled readonly>
		</div>
	</div>

	<div class="row my-2">
		<div class="col-2">
			<label for="quantity" class="form-label fw-bold">수량</label>
		</div>
		<div class="col">
			<input type="text" id="quantity" name="quantity"
				class="form-control" value="10" th:value="${item.quantity}" disabled readonly>
		</div>
	</div>

	<hr>
	<!-- 추가된 코드 : START -->
	<!-- single check box -->
	<div class="row my-2">
		<div class="col-2">
			<label class="form-label fw-bold">판매 여부</label>
		</div>
		<div class="col">
			<div class="form-check">
			<!-- thymeleaf  -->
			<!-- 
			[소스 보기]
			<input type="checkbox" id="open" class="form-check-input" disabled readonly name="open" value="true" checked="checked"> 
			-->
			<input type="checkbox" id="open" th:field="${item.open}" class="form-check-input" disabled readonly>
			<label for="open" class="form-check-label">판매 중</label>
		</div>
		</div>
	</div>
	
	<!-- multi check box -->
<!--  		<div>
			<div>등록 지역</div>
			<div th:each="region: ${regions}" class="form-check form-check-inline">
				<input type="checkbox" th:field="${item.regions}" th:value="${region.key}" class="form-check-input" disabled readonly>
				<label th:for="${#ids.prev('regions')}"
						th:text="${region.value}" class="form-check-label">서울</label>
			</div>
		</div> -->
	
	<!-- radio button -->
	<div class="row my-2">
		<div class="col-2">
			<label class="form-label fw-bold">상품 종류</label>
		</div>
		<div class="col">
			<div th:each="type: ${itemTypes}" class="form-check form-check-inline">
				<input type="radio" th:field="${item.itemType}" th:value="${type.name()}" 
						class="form-check-input" disabled readonly>
				<!-- <label th:for="${#ids.prev('itemType')}" th:text="${type}" -->
				<label th:for="${#ids.prev('itemType')}" th:text="${type.description}"
						class="form-check-label">BOOK</label>
			</div>	
		</div>
	</div>
	
	<!-- select box -->
	<div class="row my-2">
		<div class="col-2">
			<label class="form-label fw-bold">배송 방식</label>
		</div>
		<div class="col">
			<select th:field="${item.deliveryCode}" class="form-select" disabled>
			<option value="">배송 방식</option>
			<option th:each="deliveryCode : ${deliveryCodes}" th:value="${deliveryCode.code}"
					th:text="${deliveryCode.displayName}">FAST</option>
		</select>
		</div>
	</div>
	
	<hr>
	<!-- 추가된 코드 : END -->

	<div class="row">
		<div class="col">
			<button type="button" class="btn btn-outline-dark btn-lg w-100"
				onclick="location.href='/html/editForm.html'"
				th:onclick="|location.href='@{/store/items/{itemID}/edit(itemID=${item.id})}'|">상품 수정</button>
		</div>
		<div class="col">
			<button type="button" class="btn btn-secondary btn-lg w-100"
				onclick="location.href='/html/items.html'"
				th:onclick="|location.href='@{/store/items}'|">목록으로</button>
		</div>
	</div>
</section>
<!-- END : CONTAINER -->





