<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>items</h1>
	<table>
		<thead>
			<tr>
				<td>ID</td>
				<td>상품명</td>
				<td>가격</td>
				<td>수량</td>
			</tr>
		</thead>
		<tbody>
			<tr th:each="item: ${item}">
				<td th:text="${item?.itemId}"></td>
				<td th:text="${item?.itemName}"></td>
				<td th:text="${item?.price}"></td>
				<td th:text="${item?.quantity}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>