<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	 <h1>Happy Market</h1>
    <p>회원 관리</p>
    <p>
      <a href="/members/new">회원 가입</a>
      <a href="/members">회원 목록</a>
    </p>
    <form action="/members/search" method="get">
      <fieldset>
      	<legend>Search</legend>
        <div>
          <label for="id">회원 아이디 :</label>
          <input type="text" id="id" name="id" />
        </div>
        <div>
          <label for="name">회원 이름 :</label>
          <input type="text" name="name" id="name" />
        </div>
        <input type="submit" value="검색"/>
      </fieldset>
    </form>
</body>
</html>